# **Data Pipeline Notebook**

### Stages of the Data Pipeline: 
1.   Environment Setup 
2.   Raw Data Processing
3.   Data Refining and Database Insertion 


Note: 
- Given the amount of time to create the project from scratch, the pipeline runs as best as it can. Given a little bit more time, most issues should be resolved. I have listed issues below:
  - There was some difficulty in running the notebooks on my local computer but I improvised and moved the work onto Google Drive and processed the data on Google Colab. There seemed to be quite a few environment problems on local computer. 
  - Relative file paths need to be used instead of absolute paths. 
  - Need to make code more robust to file name differences to make sure code can generalize well to unknown file types and different names.  
  - There was an issue trying to rearrange date format for the transaction table although code has been written to resolve the issue, it didn't seem to work in this case even after looking into documentation.
  - Exploratory data analysis should have been done on CSV files to further understand values to be inserted into the database. This would include counting the number of duplicates, anomaly detection, etc.   
- An ideal data pipeline should flow without having data be reset. This needs to be fixed although the pipeline runs as best I could make it.

## Stage 1 - Environment Setup

In [ ]:
from google.colab import drive
drive.mount('/content/drive') # Retrieve data from Google Cloud

Mounted at /content/drive

In [ ]:
!pip install pyspark # Downloading Pyspark Library

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=91c688b5c9d235c7139df3fc0acc082c46c2b4573bfd81d938f7fc890fe28a1a
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import re
from datetime import datetime as dt
import datetime
from pyspark.sql.functions import *
import os
import fnmatch

# Import the SparkSession class
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType

# Create SparkSession object
spark = SparkSession.builder \
                    .master('local[*]') \
                    .appName('Cape AI App') \
                    .getOrCreate()

## Stage 2 - Raw Data Processing

In [ ]:
%run /content/drive/MyDrive/data_engineer_assessment/Raw_Zone.ipynb

Reading customer file data...
Cleaning customer file data...

First 5 rows of Customer data:
+----------+-------------------+-----------------+------------+-----------------+---------------+
|customerid|          birthdate|bank_account_type|   bank_name|employment_status|education_level|
+----------+-------------------+-----------------+------------+-----------------+---------------+
|      1000|1973-10-10 00:00:00|          Savings|Capitec Bank|             null|           null|
|      1001|1986-01-21 00:00:00|          Savings|Capitec Bank|        Permanent|           null|
|      1002|1987-04-01 00:00:00|          Savings|   Tyme Bank|             null|           null|
|      1003|1991-07-19 00:00:00|          Savings|Capitec Bank|        Permanent|           null|
|      1004|1982-11-22 00:00:00|          Savings|Capitec Bank|        Permanent|           null|
+----------+-------------------+-----------------+------------+-----------------+---------------+
only showing top 5 rows

Printing table schema:
root
 |-- customerid: integer (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- bank_account_type: string (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- employment_status: string (nullable = true)
 |-- education_level: string (nullable = true)


Customer file data successfully written to parquet.
---------------------------------------------

Reading transaction file data...
Printing table schema:
root
 |-- _c0: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- transaction_amount: double (nullable = true)
 |-- transaction_date: string (nullable = true)


Cleaning transaction file data...

First 5 rows of transaction file data:
+--------------+-----------+------------------+--------------------+
|transaction_id|customer_id|transaction_amount|    transaction_date|
+--------------+-----------+------------------+--------------------+
|            87|       1085|             536.0|01-01-2022 02:24:...|
|            88|       1034|             420.0|01-01-2022 07:24:...|
|            89|       1089|            -253.0|01-01-2022 12:24:...|
|            90|       1087|               7.0|01-01-2022 17:23:...|
|            91|       1082|             -38.0|01-01-2022 22:23:...|
+--------------+-----------+------------------+--------------------+
only showing top 5 rows


Transaction file data successfully written to parquet.
Reading customer file data...
Cleaning customer file data...

First 5 rows of Customer data:
+----------+-------------------+-----------------+-------------+-----------------+---------------+
|customerid|          birthdate|bank_account_type|    bank_name|employment_status|education_level|
+----------+-------------------+-----------------+-------------+-----------------+---------------+
|      1005|1978-12-11 00:00:00|          Savings| Capitec Bank|        Permanent|           null|
|      1006|1990-07-21 00:00:00|          Savings|  Access Bank|        Permanent|           null|
|      1009|1965-02-23 00:00:00|          Savings|Standard Bank|        Permanent|           null|
|      1012|1994-06-03 00:00:00|            Other|    ABSA Bank|        Permanent|      Secondary|
|      1018|1983-05-08 00:00:00|          Savings|          FNB|        Permanent|       Graduate|
+----------+-------------------+-----------------+-------------+-----------------+---------------+
only showing top 5 rows

Printing table schema:
root
 |-- customerid: integer (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- bank_account_type: string (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- employment_status: string (nullable = true)
 |-- education_level: string (nullable = true)


Customer file data successfully written to parquet.
---------------------------------------------

Reading transaction file data...
Printing table schema:
root
 |-- _c0: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- transaction_amount: double (nullable = true)
 |-- transaction_date: string (nullable = true)


Cleaning transaction file data...

First 5 rows of transaction file data:
+--------------+-----------+------------------+--------------------+
|transaction_id|customer_id|transaction_amount|    transaction_date|
+--------------+-----------+------------------+--------------------+
|            73|       1076|            -111.0|01-03-2022 04:30:...|
|            74|       1040|             198.0|01-03-2022 09:30:...|
|            75|       1096|            -403.0|01-03-2022 14:29:...|
|            76|       1056|             203.0|01-03-2022 19:29:...|
|            77|       1078|             -42.0|02-03-2022 00:29:...|
+--------------+-----------+------------------+--------------------+
only showing top 5 rows


Transaction file data successfully written to parquet.
Reading customer file data...
Cleaning customer file data...

First 5 rows of Customer data:
+----------+-------------------+-----------------+------------+-----------------+---------------+
|customerid|          birthdate|bank_account_type|   bank_name|employment_status|education_level|
+----------+-------------------+-----------------+------------+-----------------+---------------+
|      1003|1991-07-19 00:00:00|          Savings|Capitec Bank|        Permanent|           null|
|      1004|1982-11-22 00:00:00|          Savings|         FNB|        Permanent|  Post-Graduate|
|      1005|1978-12-11 00:00:00|          Savings|Capitec Bank|        Permanent|           null|
|      1006|1990-07-21 00:00:00|          Savings| Access Bank|        Permanent|           null|
|      1007|1986-09-09 00:00:00|          Savings|Capitec Bank|        Permanent|           null|
+----------+-------------------+-----------------+------------+-----------------+---------------+
only showing top 5 rows

Printing table schema:
root
 |-- customerid: integer (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- bank_account_type: string (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- employment_status: string (nullable = true)
 |-- education_level: string (nullable = true)


Customer file data successfully written to parquet.
---------------------------------------------

Reading transaction file data...
Printing table schema:
root
 |-- _c0: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- transaction_amount: double (nullable = true)
 |-- transaction_date: string (nullable = true)


Cleaning transaction file data...

First 5 rows of transaction file data:
+--------------+-----------+------------------+--------------------+
|transaction_id|customer_id|transaction_amount|    transaction_date|
+--------------+-----------+------------------+--------------------+
|            87|       1040|             660.0|01-02-2022 02:24:...|
|            88|       1030|              43.0|01-02-2022 07:24:...|
|            89|       1033|            -422.0|01-02-2022 12:24:...|
|            90|       1050|            -273.0|01-02-2022 17:23:...|
|            91|       1016|             678.0|01-02-2022 22:23:...|
+--------------+-----------+------------------+--------------------+
only showing top 5 rows


Transaction file data successfully written to parquet.

## Stage 3 - Data Refining and Database Insertion

In [ ]:
%run /content/drive/MyDrive/data_engineer_assessment/Refined_Zone.ipynb

[Row(birthdate='1983-01-19', bank_account_type='Other', bank_name='ABSA Bank', employment_status='Self-Employed', education_level='Post-Graduate', customerid=1042), Row(birthdate='1992-02-24', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Permanent', education_level='Post-Graduate', customerid=1100), Row(birthdate='1978-04-16', bank_account_type='Other', bank_name='Access Bank', employment_status='Permanent', education_level='Post-Graduate', customerid=1070), Row(birthdate='1989-07-09', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level='Graduate', customerid=1056), Row(birthdate='1985-02-25', bank_account_type='Other', bank_name='Stanbic Bank', employment_status='Unemployed', education_level='Graduate', customerid=1047), Row(birthdate='1990-07-03', bank_account_type='Other', bank_name='ABSA Bank', employment_status='Self-Employed', education_level='Graduate', customerid=1020), Row(birthdate='1979-03-25', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Permanent', education_level='Graduate', customerid=1087), Row(birthdate='1992-09-04', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Student', education_level='Graduate', customerid=1094), Row(birthdate='1991-11-08', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Permanent', education_level='Graduate', customerid=1086), Row(birthdate='1988-10-03', bank_account_type='Other', bank_name='Access Bank', employment_status='Permanent', education_level='Graduate', customerid=1045), Row(birthdate='1988-01-19', bank_account_type='Savings', bank_name='ABSA Bank', employment_status='Permanent', education_level='Graduate', customerid=1021), Row(birthdate='1986-03-30', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Student', education_level='Graduate', customerid=1077), Row(birthdate='1979-06-04', bank_account_type='Other', bank_name='ABSA Bank', employment_status='Permanent', education_level='Graduate', customerid=1071), Row(birthdate='1987-03-24', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Self-Employed', education_level=None, customerid=1019), Row(birthdate='1994-06-03', bank_account_type='Other', bank_name='ABSA Bank', employment_status='Student', education_level='Secondary', customerid=1012), Row(birthdate='1981-01-07', bank_account_type='Other', bank_name='Standard Bank', employment_status='Self-Employed', education_level=None, customerid=1027), Row(birthdate='1986-11-02', bank_account_type='Other', bank_name='Standard Bank', employment_status='Self-Employed', education_level=None, customerid=1079), Row(birthdate='1989-02-28', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Self-Employed', education_level=None, customerid=1052), Row(birthdate='1979-07-01', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level='Secondary', customerid=1049), Row(birthdate='1985-09-07', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Unemployed', education_level=None, customerid=1097), Row(birthdate='1990-03-28', bank_account_type='Savings', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1059), Row(birthdate='1988-12-22', bank_account_type='Savings', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1015), Row(birthdate='1965-02-23', bank_account_type='Savings', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1009), Row(birthdate='1987-10-07', bank_account_type='Savings', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1034), Row(birthdate='1992-11-17', bank_account_type='Savings', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1008), Row(birthdate='1983-05-08', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level='Graduate', customerid=1018), Row(birthdate='1986-04-15', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1014), Row(birthdate='1992-01-23', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1090), Row(birthdate='1983-05-27', bank_account_type='Savings', bank_name='Stanbic Bank', employment_status='Permanent', education_level=None, customerid=1058), Row(birthdate='1986-01-21', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1001), Row(birthdate='1988-04-22', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1016), Row(birthdate='1977-07-29', bank_account_type='Current', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1033), Row(birthdate='1989-12-15', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1055), Row(birthdate='1985-10-23', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1023), Row(birthdate='1987-08-03', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1026), Row(birthdate='1990-03-19', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1088), Row(birthdate='1986-05-08', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1091), Row(birthdate='1992-11-27', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1096), Row(birthdate='1991-07-19', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1003), Row(birthdate='1985-12-14', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1062), Row(birthdate='1987-02-20', bank_account_type='Current', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1099), Row(birthdate='1987-07-29', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1092), Row(birthdate='1983-04-10', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1072), Row(birthdate='1984-04-19', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1029), Row(birthdate='1985-04-03', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1041), Row(birthdate='1983-01-09', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1089), Row(birthdate='1987-09-13', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1083), Row(birthdate='1990-07-04', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1068), Row(birthdate='1986-09-09', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1007), Row(birthdate='1973-11-23', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1064), Row(birthdate='1976-07-22', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1031), Row(birthdate='1987-06-09', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1060), Row(birthdate='1981-07-22', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1046), Row(birthdate='1992-10-28', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1035), Row(birthdate='1993-09-06', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1028), Row(birthdate='1982-11-22', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1004), Row(birthdate='1978-12-11', bank_account_type='Savings', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1005), Row(birthdate='1987-05-25', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1038), Row(birthdate='1976-09-16', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1036), Row(birthdate='1988-01-31', bank_account_type='Other', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1054), Row(birthdate='1984-09-18', bank_account_type='Other', bank_name='Standard Bank', employment_status='Permanent', education_level=None, customerid=1022), Row(birthdate='1991-11-25', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1044), Row(birthdate='1995-02-12', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1095), Row(birthdate='1990-07-21', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1006), Row(birthdate='1982-08-09', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1030), Row(birthdate='1975-06-25', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1075), Row(birthdate='1989-03-07', bank_account_type='Savings', bank_name='Access Bank', employment_status='Permanent', education_level=None, customerid=1017), Row(birthdate='1995-06-29', bank_account_type='Other', bank_name='ABSA Bank', employment_status='Self-Employed', education_level=None, customerid=1093), Row(birthdate='1989-06-09', bank_account_type='Other', bank_name='FNB', employment_status='Permanent', education_level='Graduate', customerid=1025), Row(birthdate='1979-10-10', bank_account_type='Other', bank_name='FNB', employment_status='Permanent', education_level='Graduate', customerid=1039), Row(birthdate='1988-05-19', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1037), Row(birthdate='1987-06-26', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1066), Row(birthdate='1993-02-12', bank_account_type='Other', bank_name='Capitec Bank', employment_status='Permanent', education_level=None, customerid=1067), Row(birthdate='1973-01-20', bank_account_type='Savings', bank_name='Skye Bank', employment_status='Permanent', education_level=None, customerid=1043), Row(birthdate='1970-07-19', bank_account_type='Savings', bank_name='Skye Bank', employment_status='Permanent', education_level=None, customerid=1011), Row(birthdate='1985-01-18', bank_account_type='Savings', bank_name='Tyme Bank', employment_status='Permanent', education_level=None, customerid=1073), Row(birthdate='1976-06-27', bank_account_type='Savings', bank_name='ABSA Bank', employment_status='Permanent', education_level=None, customerid=1040), Row(birthdate='1988-02-28', bank_account_type='Savings', bank_name='ABSA Bank', employment_status='Permanent', education_level=None, customerid=1063), Row(birthdate='1989-10-14', bank_account_type='Savings', bank_name='ABSA Bank', employment_status='Permanent', education_level=None, customerid=1053), Row(birthdate='1988-06-26', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1048), Row(birthdate='1990-06-28', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1084), Row(birthdate='1987-07-01', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1080), Row(birthdate='1985-09-29', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1061), Row(birthdate='1984-12-03', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1078), Row(birthdate='1982-01-06', bank_account_type='Savings', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1098), Row(birthdate='1986-12-19', bank_account_type='Savings', bank_name='Capitec Bank', employment_status=None, education_level=None, customerid=1032), Row(birthdate='1973-10-10', bank_account_type='Savings', bank_name='Capitec Bank', employment_status=None, education_level=None, customerid=1000), Row(birthdate='1985-11-23', bank_account_type='Savings', bank_name='Capitec Bank', employment_status=None, education_level=None, customerid=1074), Row(birthdate='1973-02-26', bank_account_type='Savings', bank_name='Capitec Bank', employment_status=None, education_level=None, customerid=1085), Row(birthdate='1983-08-19', bank_account_type='Savings', bank_name='Capitec Bank', employment_status=None, education_level=None, customerid=1057), Row(birthdate='1986-07-28', bank_account_type='Savings', bank_name='Capitec Bank', employment_status=None, education_level=None, customerid=1076), Row(birthdate='1974-07-22', bank_account_type='Other', bank_name='FNB', employment_status='Permanent', education_level=None, customerid=1051), Row(birthdate='1995-03-03', bank_account_type='Savings', bank_name='FNB', employment_status='Student', education_level=None, customerid=1050), Row(birthdate='1990-06-23', bank_account_type='Savings', bank_name='ABSA Bank', employment_status=None, education_level=None, customerid=1082), Row(birthdate='1987-04-01', bank_account_type='Savings', bank_name='Tyme Bank', employment_status=None, education_level=None, customerid=1002), Row(birthdate='1988-11-25', bank_account_type='Savings', bank_name='ABSA Bank', employment_status=None, education_level=None, customerid=1013), Row(birthdate='1985-09-26', bank_account_type='Savings', bank_name='ABSA Bank', employment_status=None, education_level=None, customerid=1024), Row(birthdate='1987-12-23', bank_account_type='Savings', bank_name='FNB', employment_status=None, education_level=None, customerid=1065), Row(birthdate='1990-05-30', bank_account_type='Savings', bank_name='FNB', employment_status=None, education_level=None, customerid=1081), Row(birthdate='1994-12-11', bank_account_type='Savings', bank_name='FNB', employment_status=None, education_level=None, customerid=1010), Row(birthdate='1966-04-21', bank_account_type='Savings', bank_name='FNB', employment_status=None, education_level=None, customerid=1069)]
 Backup performed successfully!
 Data Saved as backupdatabase.sql

### Querying Database for Credit Balance of Customers

In [ ]:
connection = sqlite3.connect("/content/drive/MyDrive/data_engineer_assessment/refined_zone/CustomerTransactions.db")
crsr = connection.cursor()


schema = StructType([
# Define the name field
StructField('Customer_id', IntegerType(), True),
# Add the age field
StructField('Credit_Balance', IntegerType(), True),
])

transaction_sql_command = """SELECT customer_id, SUM(transaction_amount) from factTransactions
                              group by customer_id"""

crsr.execute(transaction_sql_command)

output = crsr.fetchall()
df = spark.createDataFrame(output, schema=schema)
df.show(5)

connection.close()

+-----------+--------------+
|Customer_id|Credit_Balance|
+-----------+--------------+
|       1000|           185|
|       1003|           -31|
|       1004|          -115|
|       1005|           255|
|       1006|          -598|
+-----------+--------------+
only showing top 5 rows